
@{
    ViewData["Title"] = "Index";
}

@section Styles
{
        <link rel="stylesheet" href="~/plugins/datatables-bs4/css/dataTables.bootstrap4.min.css">
        <link rel="stylesheet" href="~/plugins/datatables-responsive/css/responsive.bootstrap4.min.css">
        <link rel="stylesheet" href="~/plugins/datatables-buttons/css/buttons.bootstrap4.min.css">
        <style>
        #Stock thead th {
            background-color: #17a2b8; /* Teal color */
            color: white; /* Text color white */
            border: none; /* Remove borders between header cells */
            position: relative; /* Required for arrow positioning */
        }
        /* Sorting icon customization */
        table.dataTable thead .sorting:before,
        table.dataTable thead .sorting:after {
            font-family: "FontAwesome";
            content: "▲ ▼";
            font-size: 0.6rem;
            position: absolute;
            right: 10px;
            top: 50%;
            transform: translateY(-50%);
            color: white; /* Set arrows to white */
        }

        table.dataTable thead .sorting_asc:before {
            content: "▲"; /* Ascending sort */
        }

        table.dataTable thead .sorting_desc:before {
            content: "▼"; /* Descending sort */
        }

        /* Hide default sorting icons */
        table.dataTable thead .sorting:after,
        table.dataTable thead .sorting_asc:after,
        table.dataTable thead .sorting_desc:after {
            display: none !important;
        }
        </style>
}

@section Scripts
{
        <script src="~/plugins//datatables/jquery.dataTables.min.js"></script>
        <script src="~/plugins///datatables-bs4/js/dataTables.bootstrap4.min.js"></script>
        <script src="~/plugins//datatables-responsive/js/dataTables.responsive.min.js"></script>
        <script src="~/plugins/datatables-responsive/js/responsive.bootstrap4.min.js"></script>
        <script src="~/plugins/datatables-buttons/js/dataTables.buttons.min.js"></script>
        <script src="~/plugins/datatables-buttons/js/buttons.bootstrap4.min.js"></script>
        <script src="~/plugins/jszip/jszip.min.js"></script>
        <script src="~/plugins/pdfmake/pdfmake.min.js"></script>
        <script src="~/plugins/pdfmake/vfs_fonts.js"></script>
        <script src="~/plugins/datatables-buttons/js/buttons.html5.min.js"></script>
        <script src="~/plugins/datatables-buttons/js/buttons.print.min.js"></script>
        <script src="~/plugins/datatables-buttons/js/buttons.colVis.min.js"></script>

        <script>
            $(function () {
                $("#Stock").DataTable({
                    processing: true,
                    serverSide: true,
                    responsive: true,
                    lengthChange: true,
                    autoWidth: false,
                    lengthMenu: [
                        [10, 25, 50,],
                        [10, 25, 50,]
                    ],
                    ajax: {
                    url: "/Admin/Stock/GetStocklistjsondata",
                        type: "POST",
                        contentType: "application/json", //must be added
                        dataType: "json", //better to add, not mandatory
                        data: function (d) {
                            d.SearchItem = {

                            };
                            return JSON.stringify(d);
                        },
                    },
                columnDefs: [
                  
                ],
               
                    
                    dom: '<"row"<"col-sm-12 col-md-6"lB><"col-sm-12 col-md-6"f>><"row"<"col-sm-12"tr>><"row"<"col-sm-12 col-md-5"i><"col-sm-12 col-md-7"p>>',
                    "buttons": ["copy", "csv", "excel", "pdf", "print", "colvis"]
                }).buttons().container().appendTo('#blogposts_wrapper .col-md-6:eq(0)');

               

            });
        </script>
}


<div class="card">
    <div class="card-header">
        <partial name="_ToasterNotification" />
       
        <h3 class="card-title">Stock List</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <table id="Stock" class="table table-bordered table-striped">
            <thead>
                <tr>
                    <th>Item</th>
                    <th>Barcode</th>
                    <th>Warehouse</th>
                    <th>In Hand</th>
                    <th>Weighted Avg Cost</th>
                   
                </tr>
            </thead>

        </table>
    </div>
    <!-- /.card-body -->
</div>


