
@section Styles
{
    <style>
        body {
            background-color: white;
        }

        section.content {
            padding-top: 20px;
            margin-top: -30px;
        }

        .form-control-underline {
            border: none;
            border-bottom: 1px solid #000;
            border-radius: 0;
            outline: none;
            padding: 10px 0;
            width: 100%;
            background-color: transparent;
            transition: border-color 0.3s ease;
        }

            .form-control-underline:focus {
                border-bottom: 2px solid #007bff;
            }

        .barcode-input-group {
            display: flex;
            align-items: center;
            position: relative;
        }

            .barcode-input-group input {
                flex-grow: 1;
                padding-right: 50px;
            }

        .barcode-image {
            width: 30px;
            height: auto;
            margin-left: -30px;
        }

        .btn-primary {
            background-color: #007bff;
            border-color: #007bff;
            color: #fff;
        }

        .btn-danger {
            background-color: #dc3545;
            border-color: #dc3545;
            color: #fff;
        }

        h2.text-center {
            margin-top: 0;
            margin-bottom: 0;
            display: inline-block;
            padding-right: 10px;
        }

        hr.border-top {
            border-top: 1px solid black;
            width: 100%;
        }

       

       
    </style>
}


@model ProductModel
<section class="content py-3" style="background-color: #ffffff;">
    <partial name="_MeasurementModal" />
    <partial name="_CategoryModal" />
    <partial name="_ToasterNotification" />
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-lg-10">

                <h2 class="text-center mb-2">Create New Item</h2>
                <hr class="border-top border-dark mb-4">

                <form asp-area="Admin" asp-controller="Product" asp-action="Create" asp-antiforgery="true" method="post" enctype="multipart/form-data">
                    <div class="row">
                        <!-- Full-width fields -->
                        <div class="col-md-12">
                            <!-- Item Name Section -->
                            <div class="mb-4">
                                <input type="text" asp-for="ItemName" class="form-control-underline" placeholder="Item Name*">
                                <span asp-validation-for="ItemName" class="text-danger"></span>
                            </div>

                            <!-- Category and Measurement Unit Section - side by side -->
                            <div class="row mb-4">
                                <div class="col-md-6 d-flex align-items-center">
                                    <label asp-for="CategoryId" class="mr-2"></label>
                                    <select asp-for="CategoryId" asp-items="Model.Categories" class="form-control-underline">
                                        <option value="" hidden>Select Category</option>
                                    </select>
                                    <span asp-validation-for="CategoryId" class="text-danger"></span>
                                    <button type="button" class="btn btn-primary btn-sm ml-3" id="addCategoryButton">Add</button>
                                </div>

                                <div class="col-md-6 d-flex align-items-center">
                                    <label asp-for="MeasurementUnitId" class="mr-2"></label>
                                    <select asp-for="MeasurementUnitId" asp-items="Model.Measurement" class="form-control-underline">
                                        <option value="" hidden>Select Measurement</option>
                                    </select>
                                    <span asp-validation-for="MeasurementUnitId" class="text-danger"></span>
                                    <button type="button" class="btn btn-primary btn-sm ml-3" id="addMeasurementButton">Add</button>
                                </div>
                            </div>

                            <!-- Taxes Section -->
                            <div class="mb-4">
                                <label asp-for="TaxesId"></label>
                                <select asp-for="TaxesId" asp-items="Model.Tx" class="form-control-underline">
                                    <option value="" hidden>Select Taxes</option>
                                </select>
                                <span asp-validation-for="TaxesId" class="text-danger"></span>
                            </div>
                        </div>
                    </div>

                    <div class="row">
                        <!-- Left side starting from Barcode -->
                        <div class="col-md-6">
                            <!-- Stock Quantity and Barcode Section -->
                            <div class="mb-4">
                                <label asp-for="InStock"></label>
                                <input type="number" asp-for="InStock" class="form-control-underline" placeholder="Minimum Stock Quantity">
                                <span asp-validation-for="InStock" class="text-danger"></span>
                            </div>

                            <div class="mb-4">
                                <label asp-for="Barcode"></label>
                                <div class="barcode-input-group position-relative">
                                    <input type="text" asp-for="Barcode" id="Barcode" class="form-control-underline" placeholder="Barcode">
                                    <img src="~/dist/img/Barcode.png" alt="barcode" class="barcode-image">
                                    <button type="button" class="btn btn-primary btn-sm ml-2" id="generateBarcode">Generate</button>
                                    <span asp-validation-for="TaxesId" class="text-danger"></span>
                                </div>
                            </div>

                            <!-- Description Section -->
                            <div class="mb-4">
                                <label asp-for="Description"></label>
                                <input type="text" asp-for="Description" class="form-control-underline" placeholder="Description">
                                <span asp-validation-for="Description" class="text-danger"></span>
                            </div>

                            <!-- Upload Image and Status Section -->
                            <div class="mb-4">
                                <div class="d-flex flex-column">
                                    <button type="button" class="btn btn-primary" id="uploadButton">
                                        <i class="fas fa-camera"></i> Upload Image
                                    </button>
                                    <input type="file" asp-for="ImageFile" class="d-none" id="ImageFile">
                                    <span asp-validation-for="ImageFile" class="text-danger"></span>
                                    <div id="imagePreview" class="mt-3"></div>
                                </div>
                            </div>

                            <div class="d-flex align-items-center">
                                <label asp-for="Status" class="mr-2 mb-0">Is active item?</label>
                                <input type="checkbox" asp-for="Status">
                                <span asp-validation-for="Status" class="text-danger"></span>
                            </div>
                        </div>

                        <!-- Right side for 'Write a post' section -->
                        <div class="col-md-6">
                            <div class="card card-primary">
                                <div class="card-header">
                                    <h3 class="card-title">Stock Details</h3><br />
                                    <h5 class="card-title btn-danger">Value Should be atleast zero</h5><br />
                                    <h5 class="card-title btn-danger">Cost per Unit Cannot be given later </h5>




                                </div>
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-md-12">
                                            <label asp-for="CostPerUnit"></label>
                                            <input type="number" asp-for="CostPerUnit" class="form-control-underline">
                                        </div>

                                        <div class="col-md-12">
                                            <label asp-for="Dhanmondi"></label>
                                            <input type="number" asp-for="Dhanmondi" class="form-control-underline">
                                        </div>

                                        <div class="col-md-12">
                                            <label asp-for="Mirpur"></label>
                                            <input type="number" asp-for="Mirpur" class="form-control-underline">
                                        </div>

                                        <div class="col-md-12">
                                            <label asp-for="Uttara"></label>
                                            <input type="number" asp-for="Uttara" class="form-control-underline">
                                        </div>

                                        <div class="col-md-12">
                                            <label asp-for="WIP"></label>
                                            <input type="number" asp-for="WIP" class="form-control-underline">
                                        </div>

                                        <div class="col-md-12">
                                            <label asp-for="date"></label>
                                            <input type="date" asp-for="date" class="form-control-underline">
                                        </div>
                                    </div>
                                </div>


                            </div>
                        </div>
                    </div>

                    <!-- Save Buttons -->
                    <div class="row mt-4">
                        <div class="col-md-12">
                            <button type="submit" class="btn btn-primary btn-sm mr-2 px-3" id="saveButton">Save</button>
                            <button type="submit" class="btn btn-primary btn-sm mr-2 px-3" id="saveAndNewButton">Save and New</button>
                            <button type="button" class="btn btn-danger btn-sm px-3" onclick="window.location.href='/Admin/Product'">Cancel</button>
                        </div>
                    </div>

                    <input type="hidden" id="redirectToNew" name="redirectToNew" value="false" />
                </form>
            </div>
        </div>
    </div>
</section>



@section Scripts
{
   
   

    <script src="https://cdn.jsdelivr.net/npm/jsbarcode@3.11.5/dist/JsBarcode.all.min.js"></script>

    <script>
        document.getElementById('generateBarcode').addEventListener('click', function () {
           
            const randomBarcode = Math.floor(Math.random() * 1000000000); 
          
            document.getElementById('Barcode').value = randomBarcode;

        
            JsBarcode("#barcodeDisplay", randomBarcode.toString(), {
                format: "CODE128", 
                width: 2,
                height: 60,
                displayValue: true
            });
        });
    </script>
  
    <script>
        document.getElementById('uploadButton').addEventListener('click', function () {
            document.getElementById('ImageFile').click();
        });

        document.getElementById('ImageFile').addEventListener('change', function (event) {
            const file = event.target.files[0];
            if (file) {
                const reader = new FileReader();
                reader.onload = function (e) {
                    const imagePreview = document.getElementById('imagePreview');
                    imagePreview.innerHTML = `<img src="${e.target.result}" alt="Selected Image" class="img-fluid" style="max-width: 200px;">`;
                };
                reader.readAsDataURL(file);
            }
        });
    </script>

  

    <partial name="_ValidationScriptsPartial" />
    

    <script>
        
        // Add Measurement Button
        $('#addMeasurementButton').click(function () {
            $('#measurementId').val(''); // Clear the modal form fields
            $('#measurementName').val('');
            $('#measurementSymbol').val(''); // Clear symbol field
            $('#measurementModalLabel').text('Add Measurement Unit');
            $('#measurementModal').modal('show');
        });
         
       

        // Save Measurement Button (Create or Update)
        $('#saveMeasurementButton').click(function () {
            var id = $('#measurementId').val();
            var name = $('#measurementName').val();
            var symbol = $('#measurementSymbol').val();
            var url = id ? '/Admin/Measurement/Update' : '/Admin/Measurement/Create'; // Choose URL for create/update
            var measurementData = { Id: id, Name: name, Symbol: symbol };

            $.post(url, measurementData, function (response) {
                if (response.success) {
                    // Close the modal first
                    $('#measurementModal').modal('hide');

                    // Show success toastr notification after a short delay
                    setTimeout(function () {
                        toastr.success('Measurement created successfully');
                    }, 300); // 300 ms delay for toastr notification

                    // Reload the Measurement Dropdown
                    reloadMeasurementDropdown(); // Function to reload dropdown after adding

                } else {
                    // Show error toastr notification
                    toastr.error(response.message || 'Data insert/update failed, ensure it is unique');
                }
            });
        });

        // Function to reload Measurement dropdown
        function reloadMeasurementDropdown() {
            $.get('/Admin/Measurement/GetAll', function (data) {
                var dropdown = $('#MeasurementUnitId'); // The dropdown element where the measurements are shown
                dropdown.empty(); // Clear the existing options
                $.each(data.data, function (i, item) { // Updated to use "data.data" if your data comes in that format
                    dropdown.append($('<option>', {
                        value: item.id,
                        text: item.name
                    }));
                });

                // Optionally, select the most recent measurement after reloading
                if (data.data.length > 0) {
                    dropdown.val(data.data[data.data.length - 1].id); // Select the latest measurement
                }
            });
        }

    </script>


    <script>

        // Add Category Button
        $('#addCategoryButton').click(function () {
            $('#categoryId').val(''); // Clear the modal form fields
            $('#categoryName').val('');
            $('#categoryModalLabel').text('Add Category');
            $('#categoryModal').modal('show');
        });

     

        // Save Category Button (Create or Update)
        $('#saveCategoryButton').click(function () {
            var id = $('#categoryId').val();
            var name = $('#categoryName').val();
            var url = id ? '/Admin/Category/Update' : '/Admin/Category/Create'; // Choose URL for create/update
            var categoryData = { Id: id, Name: name };

            $.post(url, categoryData, function (response) {
                if (response.success) {
                    // Close the modal first
                    $('#categoryModal').modal('hide');

                    // Show success toastr notification after a short delay
                    setTimeout(function () {
                        toastr.success('Category created successfully');
                    }, 300); // 300 ms delay for toastr notification

                    // Reload the Category Dropdown
                    reloadCategoryDropdown(); // Function to reload dropdown after adding

                } else {
                    // Show error toastr notification
                    toastr.error(response.message || 'Data insert/update failed, ensure it is unique');
                }
            });
        });


        function reloadCategoryDropdown() {
            $.get('/Admin/Category/GetAll', function (data) {
                var dropdown = $('#CategoryId'); // The dropdown element where the categories are shown
                dropdown.empty(); // Clear the existing options
                $.each(data.data, function (i, item) { // Updated to use "data.data" if your data comes in that format
                    dropdown.append($('<option>', {
                        value: item.id,
                        text: item.name
                    }));
                });

                // Optionally, select the most recent category after reloading
                if (data.data.length > 0) {
                    dropdown.val(data.data[data.data.length - 1].id); // Select the latest category
                }
            });
        }


       


       
    </script>

    <script>
        $(document).ready(function () {
            $('#saveButton').click(function () {
                $('#redirectToNew').val('false'); // Set the hidden field to false for regular Save
            });

            $('#saveAndNewButton').click(function () {
                $('#redirectToNew').val('true'); // Set the hidden field to true for Save and New
            });
        });
    </script>


  
    

}

 




